# 2021 Day 2

https://adventofcode.com/2021/day/2

In [1]:
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Part 1

In [2]:
inp = pd.read_table('input-02.txt', names='dir N'.split(), sep=' ')
inp

         dir  N
0    forward  2
1    forward  3
2    forward  5
3    forward  6
4       down  7
..       ... ..
995       up  5
996  forward  3
997  forward  2
998     down  3
999  forward  4

[1000 rows x 2 columns]

In [3]:
dxmap = dict(forward=1, up=0, down=0)
dzmap = dict(forward=0, up=-1, down=1)

inp['dx'] = inp.dir.map(dxmap) * inp.N
inp['dz'] = inp.dir.map(dzmap) * inp.N
inp

         dir  N  dx  dz
0    forward  2   2   0
1    forward  3   3   0
2    forward  5   5   0
3    forward  6   6   0
4       down  7   0   7
..       ... ..  ..  ..
995       up  5   0  -5
996  forward  3   3   0
997  forward  2   2   0
998     down  3   0   3
999  forward  4   4   0

[1000 rows x 4 columns]

In [4]:
inp['dx dz'.split()].sum().prod()

1692075

## Part 2

In [5]:
inp = pd.read_table('input-02.txt', names='dir N'.split(), sep=' ')

In [6]:
d_aim_map = dict(forward=0, down=1, up=-1)
dx_map = dz_map = dict(forward=1, down=0, up=0)

inp['d_aim'] = inp.dir.map(d_aim_map) * inp.N
inp['aim'] = inp.d_aim.cumsum()
inp['dx'] = inp.dir.map(dx_map) * inp.N
inp['dz'] = inp.dir.map(dz_map) * inp.N * inp.aim
inp

         dir  N  d_aim  aim  dx    dz
0    forward  2      0    0   2     0
1    forward  3      0    0   3     0
2    forward  5      0    0   5     0
3    forward  6      0    0   6     0
4       down  7      7    7   0     0
..       ... ..    ...  ...  ..   ...
995       up  5     -5  876   0     0
996  forward  3      0  876   3  2628
997  forward  2      0  876   2  1752
998     down  3      3  879   0     0
999  forward  4      0  879   4  3516

[1000 rows x 6 columns]

In [7]:
inp['dx dz'.split()].sum().prod()

1749524700